:root {
  --col-green: rgb(41, 187, 156);
}

/* Inputs Styling */
input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: grey solid 1px;
}

section:nth-of-type(4) button {
  background-color: var(--col-green);
}

/* Background and Colors */
header,
footer {
  background-color: rgb(59, 84, 108);
}

section:nth-of-type(1),
section:nth-of-type(3) {
  background-color: var(--col-green);
}

.copyright {
  background-color: rgb(44, 62, 79);
}

#horizontal-line {
  width: 150px;
  height: 5px;
  border-radius: 4px;
  opacity: 1;
}

#start-bootstrap-link {
  color: var(--col-green);
}

/* Text Styling */
#message {
  height: 7rem;
}
